In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

    
pd.set_option('display.max_columns', None)  # Mostrar todas las columnas
pd.set_option('display.max_rows', None)  # Mostrar todas las filas
pd.set_option('display.max_colwidth', None) # Mostrar el contenido completo de las celdas

In [2]:
# Ocultar la ubicación del archivo

df = pd.read_csv("C:/Users/luiso/IRONHACK/w3-project_SQL/data/actor.csv")

df.head()

   actor_id first_name     last_name          last_update
0         1   PENELOPE       GUINESS  2006-02-15 04:34:33
1         2       NICK      WAHLBERG  2006-02-15 04:34:33
2         3         ED         CHASE  2006-02-15 04:34:33
3         4   JENNIFER         DAVIS  2006-02-15 04:34:33
4         5     JOHNNY  LOLLOBRIGIDA  2006-02-15 04:34:33

In [3]:
dim_original = df.shape
actor = df.copy()
actor.shape, dim_original

((200, 4), (200, 4))

In [4]:
actor.info()

actor.isnull().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   actor_id     200 non-null    int64
 1   first_name   200 non-null    object
 2   last_name    200 non-null    object
 3   last_update  200 non-null    object
dtypes: int64(1), object(3)
memory usage: 6.4+ KB

actor_id       0
first_name     0
last_name      0
last_update    0
dtype: int64

In [5]:
actor.duplicated().sum()

0

In [6]:
# Comprobar los valores únicos de cada columna

for col in actor.columns:
    print(col, actor[col].unique())

actor_id [  1   2   3   4   5   6   7   8   9  10  11  12  13  14  15  16  17  18
  19  20  21  22  23  24  25  26  27  28  29  30  31  32  33  34  35  36
  37  38  39  40  41  42  43  44  45  46  47  48  49  50  51  52  53  54
  55  56  57  58  59  60  61  62  63  64  65  66  67  68  69  70  71  72
  73  74  75  76  77  78  79  80  81  82  83  84  85  86  87  88  89  90
  91  92  93  94  95  96  97  98  99 100 101 102 103 104 105 106 107 108
 109 110 111 112 113 114 115 116 117 118 119 120 121 122 123 124 125 126
 127 128 129 130 131 132 133 134 135 136 137 138 139 140 141 142 143 144
 145 146 147 148 149 150 151 152 153 154 155 156 157 158 159 160 161 162
 163 164 165 166 167 168 169 170 171 172 173 174 175 176 177 178 179 180
 181 182 183 184 185 186 187 188 189 190 191 192 193 194 195 196 197 198
 199 200]
first_name ['PENELOPE' 'NICK' 'ED' 'JENNIFER' 'JOHNNY' 'BETTE' 'GRACE' 'MATTHEW'
 'JOE' 'CHRISTIAN' 'ZERO' 'KARL' 'UMA' 'VIVIEN' 'CUBA' 'FRED' 'HELEN'
 'DAN' 'BOB' 'LUCILLE' 'KIRSTEN' 'ELVIS' 'SANDRA' 'CAMERON' 'KEVIN' 'RIP'
 'JULIA' 'WOODY' 'ALEC' 'SISSY' 'TIM' 'MILLA' 'AUDREY' 'JUDY' 'BURT' 'VAL'
 'TOM' 'GOLDIE' 'JODIE' 'KIRK' 'REESE' 'PARKER' 'FRANCES' 'ANNE' 'NATALIE'
 'GARY' 'CARMEN' 'MENA' 'FAY' 'JUDE' 'DUSTIN' 'HENRY' 'JAYNE' 'RAY'
 'ANGELA' 'MARY' 'JESSICA' 'KENNETH' 'MICHELLE' 'ADAM' 'SEAN' 'ANGELINA'
 'CARY' 'GROUCHO' 'MAE' 'RALPH' 'SCARLETT' 'BEN' 'JAMES' 'MINNIE' 'GREG'
 'SPENCER' 'CHARLIZE' 'CHRISTOPHER' 'ELLEN' 'DARYL' 'GENE' 'MEG' 'CHRIS'
 'JIM' 'SUSAN' 'WALTER' 'SIDNEY' 'GINA' 'WARREN' 'SYLVESTER' 'RUSSELL'
 'MORGAN' 'HARRISON' 'RENEE' 'LIZA' 'SALMA' 'JULIANNE' 'ALBERT' 'CATE'
 'GRETA' 'JANE' 'RICHARD' 'RITA' 'EWAN' 'WHOOPI' 'JADA' 'RIVER' 'KIM'
 'EMILY' 'GEOFFREY' 'MERYL' 'IAN' 'LAURA' 'HARVEY' 'OPRAH' 'HUMPHREY' 'AL'
 'LAURENCE' 'WILL' 'OLYMPIA' 'ALAN' 'MICHAEL' 'WILLIAM' 'JON' 'LISA'
 'JEFF' 'DEBBIE' 'ROCK' 'GREGORY' 'JOHN' 'BELA' 'THORA']
last_name ['GUINESS' 'WAHLBERG' 'CHASE' 'DAVIS' 'LOLLOBRIGIDA' 'NICHOLSON' 'MOSTEL'
 'JOHANSSON' 'SWANK' 'GABLE' 'CAGE' 'BERRY' 'WOOD' 'BERGEN' 'OLIVIER'
 'COSTNER' 'VOIGHT' 'TORN' 'FAWCETT' 'TRACY' 'PALTROW' 'MARX' 'KILMER'
 'STREEP' 'BLOOM' 'CRAWFORD' 'MCQUEEN' 'HOFFMAN' 'WAYNE' 'PECK' 'SOBIESKI'
 'HACKMAN' 'DEAN' 'DUKAKIS' 'BOLGER' 'MCKELLEN' 'BRODY' 'DEGENERES'
 'MIRANDA' 'JOVOVICH' 'STALLONE' 'GOLDBERG' 'BARRYMORE' 'DAY-LEWIS'
 'CRONYN' 'HOPKINS' 'PHOENIX' 'HUNT' 'TEMPLE' 'PINKETT' 'HARRIS' 'CRUISE'
 'AKROYD' 'TAUTOU' 'NEESON' 'WRAY' 'HUDSON' 'TANDY' 'BAILEY' 'WINSLET'
 'MCCONAUGHEY' 'GRANT' 'WILLIAMS' 'PENN' 'KEITEL' 'POSEY' 'ASTAIRE'
 'SINATRA' 'CRUZ' 'DAMON' 'JOLIE' 'WILLIS' 'PITT' 'ZELLWEGER' 'CHAPLIN'
 'PESCI' 'DENCH' 'PRESLEY' 'HAWKE' 'BRIDGES' 'DEPP' 'LEIGH' 'CROWE'
 'DUNST' 'NOLTE' 'DERN' 'BACALL' 'MCDORMAND' 'BALE' 'ALLEN' 'JACKMAN'
 'MONROE' 'BERGMAN' 'BENING' 'TOMEI' 'GARLAND' 'HOPPER' 'REYNOLDS'
 'MANSFIELD' 'DEE' 'GOODING' 'HURT' 'RYDER' 'WITHERSPOON' 'HESTON'
 'GIBSON' 'MALDEN' 'BASINGER' 'HOPE' 'WEST' 'BULLOCK' 'WILSON' 'PFEIFFER'
 'DREYFUSS' 'SILVERSTONE' 'CARREY' 'CLOSE' 'BALL' 'BIRCH' 'SUVARI'
 'WALKEN']
last_update ['2006-02-15 04:34:33']

In [7]:
# Comprobar si se repiten los valores únicos de cada columna

for col in actor.columns:
    print(col, actor[col].value_counts())

actor_id 1      1
138    1
128    1
129    1
130    1
131    1
132    1
133    1
134    1
135    1
136    1
137    1
139    1
2      1
140    1
141    1
142    1
143    1
144    1
145    1
146    1
147    1
148    1
149    1
127    1
126    1
125    1
124    1
103    1
104    1
105    1
106    1
107    1
108    1
109    1
110    1
111    1
112    1
113    1
114    1
115    1
116    1
117    1
118    1
119    1
120    1
121    1
122    1
123    1
150    1
151    1
152    1
177    1
179    1
180    1
181    1
182    1
183    1
184    1
185    1
186    1
187    1
188    1
189    1
190    1
191    1
192    1
193    1
194    1
195    1
196    1
197    1
198    1
199    1
178    1
176    1
153    1
175    1
154    1
155    1
156    1
157    1
158    1
159    1
160    1
161    1
162    1
163    1
164    1
165    1
166    1
167    1
168    1
169    1
170    1
171    1
172    1
173    1
174    1
102    1
101    1
100    1
26     1
28     1
29     1
30     1
31     1
32     1
33     1
34     1
35     1
36     1
37     1
38     1
39     1
40     1
41     1
42     1
43     1
44     1
45     1
46     1
47     1
48     1
27     1
25     1
50     1
24     1
3      1
4      1
5      1
6      1
7      1
8      1
9      1
10     1
11     1
12     1
13     1
14     1
15     1
16     1
17     1
18     1
19     1
20     1
21     1
22     1
23     1
49     1
51     1
99     1
76     1
78     1
79     1
80     1
81     1
82     1
83     1
84     1
85     1
86     1
87     1
88     1
89     1
90     1
91     1
92     1
93     1
94     1
95     1
96     1
97     1
98     1
77     1
75     1
52     1
74     1
53     1
54     1
55     1
56     1
57     1
58     1
59     1
60     1
61     1
62     1
63     1
64     1
65     1
66     1
67     1
68     1
69     1
70     1
71     1
72     1
73     1
200    1
Name: actor_id, dtype: int64
first_name PENELOPE       4
JULIA          4
KENNETH        4
GENE           3
GROUCHO        3
DAN            3
CUBA           3
JAYNE          3
CAMERON        3
FAY            3
CHRISTIAN      3
MATTHEW        3
BURT           3
MORGAN         3
RUSSELL        3
ED             3
NICK           3
MENA           2
ANGELA         2
MARY           2
GARY           2
ADAM           2
SEAN           2
CATE           2
GRETA          2
SCARLETT       2
BEN            2
REESE          2
MINNIE         2
ALBERT         2
SPENCER        2
CHRISTOPHER    2
DARYL          2
CHRIS          2
RENEE          2
SUSAN          2
MERYL          2
FRANCES        2
WARREN         2
AUDREY         2
KEVIN          2
LUCILLE        2
MICHAEL        2
RIP            2
WOODY          2
VIVIEN         2
MILLA          2
KIRSTEN        2
SANDRA         2
HUMPHREY       2
TOM            2
JOHNNY         2
LIZA           1
DEBBIE         1
ROCK           1
GREGORY        1
SALMA          1
LISA           1
JULIANNE       1
JON            1
WILLIAM        1
JOHN           1
HARRISON       1
BELA           1
JEFF           1
HARVEY         1
ALAN           1
RIVER          1
OPRAH          1
IAN            1
SYLVESTER      1
GEOFFREY       1
EMILY          1
AL             1
KIM            1
JADA           1
JANE           1
WHOOPI         1
LAURENCE       1
WILL           1
EWAN           1
OLYMPIA        1
RITA           1
LAURA          1
RICHARD        1
MAE            1
GINA           1
BOB            1
JODIE          1
GOLDIE         1
VAL            1
JUDY           1
TIM            1
SISSY          1
ALEC           1
ELVIS          1
HELEN          1
SIDNEY         1
FRED           1
UMA            1
KARL           1
ZERO           1
JOE            1
GRACE          1
BETTE          1
JENNIFER       1
KIRK           1
PARKER         1
ANNE           1
NATALIE        1
WALTER         1
JIM            1
MEG            1
ELLEN          1
CHARLIZE       1
GREG           1
JAMES          1
RALPH          1
CARY           1
ANGELINA       1
MICHELLE       1
JESSICA        1
RAY            1
HENRY          1
DUSTIN         1
JUDE           1
CARMEN         1
THORA          1
Name: first_name, dtype: int64
last_name KILMER          5
TEMPLE          4
NOLTE           4
GUINESS         3
ALLEN           3
KEITEL          3
WILLIS          3
ZELLWEGER       3
DEGENERES       3
TORN            3
HOFFMAN         3
PECK            3
BERRY           3
GARLAND         3
JOHANSSON       3
AKROYD          3
HARRIS          3
DAVIS           3
HOPKINS         3
WILLIAMS        3
WAHLBERG        2
BAILEY          2
TANDY           2
NEESON          2
WINSLET         2
DENCH           2
PENN            2
DEPP            2
JACKMAN         2
MONROE          2
BENING          2
HOPPER          2
DEE             2
GOODING         2
WEST            2
SILVERSTONE     2
CRONYN          2
MCCONAUGHEY     2
DEAN            2
BOLGER          2
MCQUEEN         2
HACKMAN         2
FAWCETT         2
CRAWFORD        2
PALTROW         2
DUKAKIS         2
CAGE            2
CHASE           2
TRACY           2
MCKELLEN        2
BRODY           2
WOOD            2
STREEP          2
OLIVIER         2
MOSTEL          2
MANSFIELD       1
REYNOLDS        1
MIRANDA         1
SWANK           1
GABLE           1
HURT            1
TOMEI           1
BERGMAN         1
BERGEN          1
BALE            1
NICHOLSON       1
MALDEN          1
RYDER           1
WITHERSPOON     1
SUVARI          1
BIRCH           1
BALL            1
CLOSE           1
CARREY          1
DREYFUSS        1
PFEIFFER        1
WILSON          1
BULLOCK         1
LOLLOBRIGIDA    1
HOPE            1
BASINGER        1
BACALL          1
GIBSON          1
HESTON          1
MCDORMAND       1
BRIDGES         1
DERN            1
CRUISE          1
GRANT           1
WAYNE           1
SOBIESKI        1
HUDSON          1
WRAY            1
TAUTOU          1
PINKETT         1
MARX            1
HUNT            1
PHOENIX         1
DAY-LEWIS       1
BARRYMORE       1
GOLDBERG        1
STALLONE        1
BLOOM           1
POSEY           1
COSTNER         1
PRESLEY         1
DUNST           1
CROWE           1
LEIGH           1
VOIGHT          1
JOVOVICH        1
HAWKE           1
PESCI           1
ASTAIRE         1
CHAPLIN         1
PITT            1
JOLIE           1
DAMON           1
CRUZ            1
SINATRA         1
WALKEN          1
Name: last_name, dtype: int64
last_update 2006-02-15 04:34:33    200
Name: last_update, dtype: int64

In [8]:
actor

     actor_id   first_name     last_name          last_update
0           1     PENELOPE       GUINESS  2006-02-15 04:34:33
1           2         NICK      WAHLBERG  2006-02-15 04:34:33
2           3           ED         CHASE  2006-02-15 04:34:33
3           4     JENNIFER         DAVIS  2006-02-15 04:34:33
4           5       JOHNNY  LOLLOBRIGIDA  2006-02-15 04:34:33
5           6        BETTE     NICHOLSON  2006-02-15 04:34:33
6           7        GRACE        MOSTEL  2006-02-15 04:34:33
7           8      MATTHEW     JOHANSSON  2006-02-15 04:34:33
8           9          JOE         SWANK  2006-02-15 04:34:33
9          10    CHRISTIAN         GABLE  2006-02-15 04:34:33
10         11         ZERO          CAGE  2006-02-15 04:34:33
11         12         KARL         BERRY  2006-02-15 04:34:33
12         13          UMA          WOOD  2006-02-15 04:34:33
13         14       VIVIEN        BERGEN  2006-02-15 04:34:33
14         15         CUBA       OLIVIER  2006-02-15 04:34:33
15         16         FRED       COSTNER  2006-02-15 04:34:33
16         17        HELEN        VOIGHT  2006-02-15 04:34:33
17         18          DAN          TORN  2006-02-15 04:34:33
18         19          BOB       FAWCETT  2006-02-15 04:34:33
19         20      LUCILLE         TRACY  2006-02-15 04:34:33
20         21      KIRSTEN       PALTROW  2006-02-15 04:34:33
21         22        ELVIS          MARX  2006-02-15 04:34:33
22         23       SANDRA        KILMER  2006-02-15 04:34:33
23         24      CAMERON        STREEP  2006-02-15 04:34:33
24         25        KEVIN         BLOOM  2006-02-15 04:34:33
25         26          RIP      CRAWFORD  2006-02-15 04:34:33
26         27        JULIA       MCQUEEN  2006-02-15 04:34:33
27         28        WOODY       HOFFMAN  2006-02-15 04:34:33
28         29         ALEC         WAYNE  2006-02-15 04:34:33
29         30       SANDRA          PECK  2006-02-15 04:34:33
30         31        SISSY      SOBIESKI  2006-02-15 04:34:33
31         32          TIM       HACKMAN  2006-02-15 04:34:33
32         33        MILLA          PECK  2006-02-15 04:34:33
33         34       AUDREY       OLIVIER  2006-02-15 04:34:33
34         35         JUDY          DEAN  2006-02-15 04:34:33
35         36         BURT       DUKAKIS  2006-02-15 04:34:33
36         37          VAL        BOLGER  2006-02-15 04:34:33
37         38          TOM      MCKELLEN  2006-02-15 04:34:33
38         39       GOLDIE         BRODY  2006-02-15 04:34:33
39         40       JOHNNY          CAGE  2006-02-15 04:34:33
40         41        JODIE     DEGENERES  2006-02-15 04:34:33
41         42          TOM       MIRANDA  2006-02-15 04:34:33
42         43         KIRK      JOVOVICH  2006-02-15 04:34:33
43         44         NICK      STALLONE  2006-02-15 04:34:33
44         45        REESE        KILMER  2006-02-15 04:34:33
45         46       PARKER      GOLDBERG  2006-02-15 04:34:33
46         47        JULIA     BARRYMORE  2006-02-15 04:34:33
47         48      FRANCES     DAY-LEWIS  2006-02-15 04:34:33
48         49         ANNE        CRONYN  2006-02-15 04:34:33
49         50      NATALIE       HOPKINS  2006-02-15 04:34:33
50         51         GARY       PHOENIX  2006-02-15 04:34:33
51         52       CARMEN          HUNT  2006-02-15 04:34:33
52         53         MENA        TEMPLE  2006-02-15 04:34:33
53         54     PENELOPE       PINKETT  2006-02-15 04:34:33
54         55          FAY        KILMER  2006-02-15 04:34:33
55         56          DAN        HARRIS  2006-02-15 04:34:33
56         57         JUDE        CRUISE  2006-02-15 04:34:33
57         58    CHRISTIAN        AKROYD  2006-02-15 04:34:33
58         59       DUSTIN        TAUTOU  2006-02-15 04:34:33
59         60        HENRY         BERRY  2006-02-15 04:34:33
60         61    CHRISTIAN        NEESON  2006-02-15 04:34:33
61         62        JAYNE        NEESON  2006-02-15 04:34:33
62         63      CAMERON          WRAY  2006-02-15 04:34:33
63         64          RAY     JOHANSSON  2006-02-15 04:34:33
64         65       ANGELA        HUDSON  2006-02-15 04:34:33
65         66         MARY         TANDY  2006-02-15 04:34:33
66         67      JESSICA        BAILEY  2006-02-15 04:34:33
67         68          RIP       WINSLET  2006-02-15 04:34:33
68         69      KENNETH       PALTROW  2006-02-15 04:34:33
69         70     MICHELLE   MCCONAUGHEY  2006-02-15 04:34:33
70         71         ADAM         GRANT  2006-02-15 04:34:33
71         72         SEAN      WILLIAMS  2006-02-15 04:34:33
72         73         GARY          PENN  2006-02-15 04:34:33
73         74        MILLA        KEITEL  2006-02-15 04:34:33
74         75         BURT         POSEY  2006-02-15 04:34:33
75         76     ANGELINA       ASTAIRE  2006-02-15 04:34:33
76         77         CARY   MCCONAUGHEY  2006-02-15 04:34:33
77         78      GROUCHO       SINATRA  2006-02-15 04:34:33
78         79          MAE       HOFFMAN  2006-02-15 04:34:33
79         80        RALPH          CRUZ  2006-02-15 04:34:33
80         81     SCARLETT         DAMON  2006-02-15 04:34:33
81         82        WOODY         JOLIE  2006-02-15 04:34:33
82         83          BEN        WILLIS  2006-02-15 04:34:33
83         84        JAMES          PITT  2006-02-15 04:34:33
84         85       MINNIE     ZELLWEGER  2006-02-15 04:34:33
85         86         GREG       CHAPLIN  2006-02-15 04:34:33
86         87      SPENCER          PECK  2006-02-15 04:34:33
87         88      KENNETH         PESCI  2006-02-15 04:34:33
88         89     CHARLIZE         DENCH  2006-02-15 04:34:33
89         90         SEAN       GUINESS  2006-02-15 04:34:33
90         91  CHRISTOPHER         BERRY  2006-02-15 04:34:33
91         92      KIRSTEN        AKROYD  2006-02-15 04:34:33
92         93        ELLEN       PRESLEY  2006-02-15 04:34:33
93         94      KENNETH          TORN  2006-02-15 04:34:33
94         95        DARYL      WAHLBERG  2006-02-15 04:34:33
95         96         GENE        WILLIS  2006-02-15 04:34:33
96         97          MEG         HAWKE  2006-02-15 04:34:33
97         98        CHRIS       BRIDGES  2006-02-15 04:34:33
98         99          JIM        MOSTEL  2006-02-15 04:34:33
99        100      SPENCER          DEPP  2006-02-15 04:34:33
100       101        SUSAN         DAVIS  2006-02-15 04:34:33
101       102       WALTER          TORN  2006-02-15 04:34:33
102       103      MATTHEW         LEIGH  2006-02-15 04:34:33
103       104     PENELOPE        CRONYN  2006-02-15 04:34:33
104       105       SIDNEY         CROWE  2006-02-15 04:34:33
105       106      GROUCHO         DUNST  2006-02-15 04:34:33
106       107         GINA     DEGENERES  2006-02-15 04:34:33
107       108       WARREN         NOLTE  2006-02-15 04:34:33
108       109    SYLVESTER          DERN  2006-02-15 04:34:33
109       110        SUSAN         DAVIS  2006-02-15 04:34:33
110       111      CAMERON     ZELLWEGER  2006-02-15 04:34:33
111       112      RUSSELL        BACALL  2006-02-15 04:34:33
112       113       MORGAN       HOPKINS  2006-02-15 04:34:33
113       114       MORGAN     MCDORMAND  2006-02-15 04:34:33
114       115     HARRISON          BALE  2006-02-15 04:34:33
115       116          DAN        STREEP  2006-02-15 04:34:33
116       117        RENEE         TRACY  2006-02-15 04:34:33
117       118         CUBA         ALLEN  2006-02-15 04:34:33
118       119       WARREN       JACKMAN  2006-02-15 04:34:33
119       120     PENELOPE        MONROE  2006-02-15 04:34:33
120       121         LIZA       BERGMAN  2006-02-15 04:34:33
121       122        SALMA         NOLTE  2006-02-15 04:34:33
122       123     JULIANNE         DENCH  2006-02-15 04:34:33
123       124     SCARLETT        BENING  2006-02-15 04:34:33
124       125       ALBERT         NOLTE  2006-02-15 04:34:33
125       126      FRANCES         TOMEI  2006-02-15 04:34:33
126       127        KEVIN       GARLAND  2006-02-15 04:34:33
127       128         CATE       MCQUEEN  2006-02-15 04:34:33
128       129        DARYL      CRAWFORD  2006-02-15 04:34:33
129       130        GRETA        KEITEL  2006-02-15 04:34:33
130       131         JANE       JACKMAN  2006-02-15 04:34:33
131       132         ADAM        HOPPER  2006-02-15 04:34:33
132       133      RICHARD          PENN  2006-02-15 04:34:33
133       134         GENE       HOPKINS  2006-02-15 04:34:33
134       135         RITA      REYNOLDS  2006-02-15 04:34:33
135       136           ED     MANSFIELD  2006-02-15 04:34:33
136       137       MORGAN      WILLIAMS  2006-02-15 04:34:33
137       138      LUCILLE           DEE  2006-02-15 04:34:33
138       139         EWAN       GOODING  2006-02-15 04:34:33
139       140       WHOOPI          HURT  2006-02-15 04:34:33
140       141         CATE        HARRIS  2006-02-15 04:34:33
141       142         JADA         RYDER  2006-02-15 04:34:33
142       143        RIVER          DEAN  2006-02-15 04:34:33
143       144       ANGELA   WITHERSPOON  2006-02-15 04:34:33
144       145          KIM         ALLEN  2006-02-15 04:34:33
145       146       ALBERT     JOHANSSON  2006-02-15 04:34:33
146       147          FAY       WINSLET  2006-02-15 04:34:33
147       148        EMILY           DEE  2006-02-15 04:34:33
148       149      RUSSELL        TEMPLE  2006-02-15 04:34:33
149       150        JAYNE         NOLTE  2006-02-15 04:34:33
150       151     GEOFFREY        HESTON  2006-02-15 04:34:33
151       152          BEN        HARRIS  2006-02-15 04:34:33
152       153       MINNIE        KILMER  2006-02-15 04:34:33
153       154        MERYL        GIBSON  2006-02-15 04:34:33
154       155          IAN         TANDY  2006-02-15 04:34:33
155       156          FAY          WOOD  2006-02-15 04:34:33
156       157        GRETA        MALDEN  2006-02-15 04:34:33
157       158       VIVIEN      BASINGER  2006-02-15 04:34:33
158       159        LAURA         BRODY  2006-02-15 04:34:33
159       160        CHRIS          DEPP  2006-02-15 04:34:33
160       161       HARVEY          HOPE  2006-02-15 04:34:33
161       162        OPRAH        KILMER  2006-02-15 04:34:33
162       163  CHRISTOPHER          WEST  2006-02-15 04:34:33
163       164     HUMPHREY        WILLIS  2006-02-15 04:34:33
164       165           AL       GARLAND  2006-02-15 04:34:33
165       166         NICK     DEGENERES  2006-02-15 04:34:33
166       167     LAURENCE       BULLOCK  2006-02-15 04:34:33
167       168         WILL        WILSON  2006-02-15 04:34:33
168       169      KENNETH       HOFFMAN  2006-02-15 04:34:33
169       170         MENA        HOPPER  2006-02-15 04:34:33
170       171      OLYMPIA      PFEIFFER  2006-02-15 04:34:33
171       172      GROUCHO      WILLIAMS  2006-02-15 04:34:33
172       173         ALAN      DREYFUSS  2006-02-15 04:34:33
173       174      MICHAEL        BENING  2006-02-15 04:34:33
174       175      WILLIAM       HACKMAN  2006-02-15 04:34:33
175       176          JON         CHASE  2006-02-15 04:34:33
176       177         GENE      MCKELLEN  2006-02-15 04:34:33
177       178         LISA        MONROE  2006-02-15 04:34:33
178       179           ED       GUINESS  2006-02-15 04:34:33
179       180         JEFF   SILVERSTONE  2006-02-15 04:34:33
180       181      MATTHEW        CARREY  2006-02-15 04:34:33
181       182       DEBBIE        AKROYD  2006-02-15 04:34:33
182       183      RUSSELL         CLOSE  2006-02-15 04:34:33
183       184     HUMPHREY       GARLAND  2006-02-15 04:34:33
184       185      MICHAEL        BOLGER  2006-02-15 04:34:33
185       186        JULIA     ZELLWEGER  2006-02-15 04:34:33
186       187        RENEE          BALL  2006-02-15 04:34:33
187       188         ROCK       DUKAKIS  2006-02-15 04:34:33
188       189         CUBA         BIRCH  2006-02-15 04:34:33
189       190       AUDREY        BAILEY  2006-02-15 04:34:33
190       191      GREGORY       GOODING  2006-02-15 04:34:33
191       192         JOHN        SUVARI  2006-02-15 04:34:33
192       193         BURT        TEMPLE  2006-02-15 04:34:33
193       194        MERYL         ALLEN  2006-02-15 04:34:33
194       195        JAYNE   SILVERSTONE  2006-02-15 04:34:33
195       196         BELA        WALKEN  2006-02-15 04:34:33
196       197        REESE          WEST  2006-02-15 04:34:33
197       198         MARY        KEITEL  2006-02-15 04:34:33
198       199        JULIA       FAWCETT  2006-02-15 04:34:33
199       200        THORA        TEMPLE  2006-02-15 04:34:33

In [9]:
conteo = actor[['first_name',"last_name"]].value_counts()
valores_duplicados = conteo[conteo > 1].index
valores_duplicados

# ahora quiero eliminar ese valor duplicado

actor = actor.drop_duplicates(subset=['first_name',"last_name"], keep='first')

In [10]:
conteo = actor[['first_name',"last_name"]].value_counts()
valores_duplicados = conteo[conteo > 1].index
valores_duplicados

MultiIndex([], names=['first_name', 'last_name'])

In [11]:
actor.shape

(199, 4)

In [ ]:
# Ext