In [14]:
# Crear una base de datos de SQL con Python


%pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\luiso\anaconda3\lib\site-packages (8.2.0)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: protobuf<=4.21.12,>=4.21.1 in c:\users\luiso\anaconda3\lib\site-packages (from mysql-connector-python) (4.21.12)

In [1]:
# Importar librerias

import mysql.connector as conn

# Crear la conexion

conexion = conn.connect(host='localhost',user='root',passwd='password')

cursor = conexion.cursor()

cursor

In [2]:
# crear una base de datos "blockbuster" si no existe

cursor.execute('CREATE DATABASE IF NOT EXISTS blockbuster')

# Mostrar las bases de datos

cursor.execute('SHOW DATABASES')

In [6]:
# Conectar a la base de datos "blockbuster"

conexion1 = conn.connect(host='localhost',user='root',passwd='password',database='blockbuster')

cursor1 = conexion1.cursor()

c = cursor1.execute

In [20]:
# Crear la tabla "customer" si no existe

c('CREATE TABLE IF NOT EXISTS customer (customer_id INT AUTO_INCREMENT PRIMARY KEY, first_name VARCHAR(255), last_name VARCHAR(255))')

# Crear la tabla "actor" si no existe

c('CREATE TABLE IF NOT EXISTS actor (actor_id INT AUTO_INCREMENT PRIMARY KEY, first_name VARCHAR(255), last_name VARCHAR(255), last_update TIMESTAMP DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP)')

# Crear la tabla "category" si no existe

c('CREATE TABLE IF NOT EXISTS category (category_id INT AUTO_INCREMENT PRIMARY KEY, gender VARCHAR(255), last_update TIMESTAMP DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP)')

ProgrammingError: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near ', last_update TIMESTAMP DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP' at line 1