In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

    
pd.set_option('display.max_columns', None)  # Mostrar todas las columnas
pd.set_option('display.max_rows', None)  # Mostrar todas las filas
pd.set_option('display.max_colwidth', None) # Mostrar el contenido completo de las celdas

In [2]:
df3 = pd.read_csv("C:/Users/luiso/IRONHACK/w3-project_SQL/data/inventory.csv")

df3.head()

   inventory_id  film_id  store_id          last_update
0             1        1         1  2006-02-15 05:09:17
1             2        1         1  2006-02-15 05:09:17
2             3        1         1  2006-02-15 05:09:17
3             4        1         1  2006-02-15 05:09:17
4             5        1         2  2006-02-15 05:09:17

In [3]:
dim_original = df3.shape
inventory = df3.copy()
inventory.shape, dim_original

((1000, 4), (1000, 4))

In [4]:
inventory.info()

inventory.isnull().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   inventory_id  1000 non-null   int64
 1   film_id       1000 non-null   int64
 2   store_id      1000 non-null   int64
 3   last_update   1000 non-null   object
dtypes: int64(3), object(1)
memory usage: 31.4+ KB

inventory_id    0
film_id         0
store_id        0
last_update     0
dtype: int64

In [5]:
inventory.duplicated().sum()

0