In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

    
pd.set_option('display.max_columns', None)  # Mostrar todas las columnas
pd.set_option('display.max_rows', None)  # Mostrar todas las filas
pd.set_option('display.max_colwidth', None) # Mostrar el contenido completo de las celdas

In [3]:
df4 = pd.read_csv("C:/Users/luiso/IRONHACK/w3-project_SQL/data/language.csv")

df4.head()

   language_id      name          last_update
0            1   English  2006-02-15 05:02:19
1            2   Italian  2006-02-15 05:02:19
2            3  Japanese  2006-02-15 05:02:19
3            4  Mandarin  2006-02-15 05:02:19
4            5    French  2006-02-15 05:02:19

In [4]:
dim_original = df4.shape
language = df4.copy()
language.shape, dim_original

((6, 3), (6, 3))

In [5]:
language.info()

language.isnull().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   language_id  6 non-null      int64
 1   name         6 non-null      object
 2   last_update  6 non-null      object
dtypes: int64(1), object(2)
memory usage: 272.0+ bytes

language_id    0
name           0
last_update    0
dtype: int64

In [6]:
language.duplicated().sum()

0

In [7]:
language.rename(columns={'name': 'language'}, inplace=True)
language

   language_id  language          last_update
0            1   English  2006-02-15 05:02:19
1            2   Italian  2006-02-15 05:02:19
2            3  Japanese  2006-02-15 05:02:19
3            4  Mandarin  2006-02-15 05:02:19
4            5    French  2006-02-15 05:02:19
5            6    German  2006-02-15 05:02:19

In [8]:
# Exportar a csv

language.to_csv('C:/Users/luiso/IRONHACK/Blockbuster_Project_2/language_clean.csv', index=False)