In [ ]:
# Crear una base de datos de SQL con Python


%pip install mysql-connector-python

In [1]:
# Importar librerias

import mysql.connector as conn

# Crear la conexion

conexion = conn.connect(host='localhost',user='root',passwd='password')

cursor = conexion.cursor()

cursor

In [2]:
# crear una base de datos "blockbuster" si no existe

cursor.execute('CREATE DATABASE IF NOT EXISTS blockbuster')

# Mostrar las bases de datos

cursor.execute('SHOW DATABASES')

In [3]:
# Conectar a la base de datos "blockbuster"

conexion1 = conn.connect(host='localhost',user='root',passwd='password',database='blockbuster')

cursor1 = conexion1.cursor()

c = cursor1.execute

In [18]:
# Crear la tabla "actor" si no existe

c('CREATE TABLE IF NOT EXISTS actor (actor_id INT AUTO_INCREMENT PRIMARY KEY, first_name VARCHAR(255), last_name VARCHAR(255), last_update TIMESTAMP DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP)')

In [17]:

# Eliminar la tabla "actor" si existe

c('DROP TABLE IF EXISTS actor')

In [20]:
import pandas as pd

actor = pd.read_csv("C:/Users/luiso/IRONHACK/Blockbuster_Project_2/data/actor_clean.csv")

for index, row in actor.iterrows():
    actor_id = row['actor_id']
    first_name = row['first_name']
    last_name = row['last_name']
    last_update = row['last_update']

    # Consulta SQL para insertar un actor en la tabla "actor"
    consulta = f"INSERT INTO actor (actor_id, first_name, last_name, last_update) VALUES ({actor_id}, '{first_name}', '{last_name}', '{last_update}')"

    # Ejecutar la consulta
    c(consulta)


# Hacer commit para guardar los cambios en la base de datos
conexion1.commit()

In [21]:
# Crear la tabla "customer" si no existe

c('CREATE TABLE IF NOT EXISTS customer (customer_id INT AUTO_INCREMENT PRIMARY KEY, first_name VARCHAR(255), last_name VARCHAR(255))')

In [16]:
# Eliminar la tabla "customer" si existe

c('DROP TABLE IF EXISTS customer')

In [22]:
customer = pd.read_csv("C:/Users/luiso/IRONHACK/Blockbuster_Project_2/data/customer.csv")

for index, row in customer.iterrows():
    customer_id = row['customer_id']
    first_name = row['first_name']
    last_name = row['last_name']
   

    # Consulta SQL para insertar un actor en la tabla "actor"
    consulta = f"INSERT INTO customer (customer_id, first_name, last_name) VALUES ({customer_id}, '{first_name}', '{last_name}')"

    # Ejecutar la consulta
    c(consulta)


# Hacer commit para guardar los cambios en la base de datos
conexion1.commit()

In [23]:
# Crear la tabla "language" si no existe

c('CREATE TABLE IF NOT EXISTS language (language_id INT AUTO_INCREMENT PRIMARY KEY, language VARCHAR(255), last_update TIMESTAMP DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP)')

In [15]:
# Eliminar la tabla "language" si existe

c('DROP TABLE IF EXISTS language')

In [24]:
language = pd.read_csv("C:/Users/luiso/IRONHACK/Blockbuster_Project_2/data/language_clean.csv")

for index, row in language.iterrows():
    language_id = row['language_id']
    language = row['language']
    last_update = row['last_update']
   

    # Consulta SQL para insertar un actor en la tabla "actor"
    consulta = f"INSERT INTO language (language_id, language, last_update) VALUES ({language_id}, '{language}', '{last_update}')"

    # Ejecutar la consulta
    c(consulta)


# Hacer commit para guardar los cambios en la base de datos
conexion1.commit()

In [25]:
# Crear la tabla "category" si no existe

c('CREATE TABLE IF NOT EXISTS category (category_id INT AUTO_INCREMENT PRIMARY KEY, gender VARCHAR(255), last_update TIMESTAMP DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP)')

In [14]:
# Eliminar la tabla "category" si existe

c('DROP TABLE IF EXISTS category')

In [26]:
category = pd.read_csv("C:/Users/luiso/IRONHACK/Blockbuster_Project_2/data/category_clean.csv")

for index, row in category.iterrows():
    category_id = row['category_id']
    gender = row['gender']
    last_update = row['last_update']
   

    # Consulta SQL para insertar un actor en la tabla "actor"
    consulta = f"INSERT INTO category (category_id, gender, last_update) VALUES ({category_id}, '{gender}', '{last_update}')"

    # Ejecutar la consulta
    c(consulta)


# Hacer commit para guardar los cambios en la base de datos
conexion1.commit()

In [27]:
# Crear la tabla "film" si no existe y crear foreign key para la tabla "language"

c('CREATE TABLE IF NOT EXISTS film (film_id INT AUTO_INCREMENT PRIMARY KEY, title VARCHAR(255), description TEXT, release_year YEAR, language_id INT, rental_duration INT, rental_rate FLOAT, length INT, replacement_cost FLOAT, rating VARCHAR(255), last_update TIMESTAMP DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP, behind_the_scenes VARCHAR(255), commentaries VARCHAR(255), deleted_scenes VARCHAR(255), FOREIGN KEY (language_id) REFERENCES language(language_id))')

In [13]:
# Eliminar la tabla "film" si existe

c('DROP TABLE IF EXISTS film')

In [28]:
film = pd.read_csv("C:/Users/luiso/IRONHACK/Blockbuster_Project_2/data/film_clean.csv")

for index, row in film.iterrows():
    film_id = row['film_id']
    title = row['title']
    description = row['description']
    release_year = row['release_year']
    language_id = row['language_id']
    rental_duration = row['rental_duration']
    rental_rate = row['rental_rate']
    length = row['length']
    replacement_cost = row['replacement_cost']
    rating = row['rating']
    last_update = row['last_update']
    behind_the_scenes = row['behind_the_scenes']
    commentaries = row['commentaries']
    deleted_scenes = row['deleted_scenes']

   

    # Consulta SQL para insertar un actor en la tabla "actor"
    consulta = f"INSERT INTO film (film_id, title, description, release_year, language_id, rental_duration, rental_rate, length, replacement_cost, rating, last_update, behind_the_scenes, commentaries, deleted_scenes) VALUES ({film_id}, '{title}', '{description}', {release_year}, {language_id}, {rental_duration}, {rental_rate}, {length}, {replacement_cost}, '{rating}', '{last_update}', '{behind_the_scenes}', '{commentaries}', '{deleted_scenes}')"

    # Ejecutar la consulta
    c(consulta)



# Hacer commit para guardar los cambios en la base de datos
conexion1.commit()

In [29]:
# Crear la tabla "old_HDD" si no existe y crear foreign key para la tabla "category" y "actor"

c("CREATE TABLE IF NOT EXISTS old_HDD (old_hdd_id INT AUTO_INCREMENT PRIMARY KEY, first_name VARCHAR(255), last_name VARCHAR(255), title VARCHAR(255), release_year YEAR, category_id INT, actor_id INT, FOREIGN KEY (category_id) REFERENCES category(category_id), FOREIGN KEY (actor_id) REFERENCES actor(actor_id))")

In [9]:
# Eliminar la tabla "old_HDD" si existe

c('DROP TABLE IF EXISTS old_HDD')

In [30]:
# Insertar datos en la tabla "old_HDD"

old_HDD = pd.read_csv("C:/Users/luiso/IRONHACK/Blockbuster_Project_2/data/old_HDD_clean.csv")

for index, row in old_HDD.iterrows():
    old_hdd_id = row['old_hdd_id']
    first_name = row['first_name']
    last_name = row['last_name']
    title = row['title']
    release_year = row['release_year']
    category_id = row['category_id']
    actor_id = row['actor_id']
   

    # Consulta SQL para insertar un actor en la tabla "actor"
    consulta = f"INSERT INTO old_HDD (old_hdd_id, first_name, last_name, title, release_year, category_id, actor_id) VALUES ({old_hdd_id}, '{first_name}', '{last_name}', '{title}', {release_year}, {category_id}, {actor_id})"

    # Ejecutar la consulta
    c(consulta)

# Hacer commit para guardar los cambios en la base de datos
conexion1.commit()

In [31]:
# Crear la tabla "inventory" si no existe y crear foreign key para la tabla "film"

c("CREATE TABLE IF NOT EXISTS inventory (inventory_id INT AUTO_INCREMENT PRIMARY KEY, film_id INT, store_id INT, last_update TIMESTAMP DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP, FOREIGN KEY (film_id) REFERENCES film(film_id))")

In [12]:
# Eloiminar la tabla "inventory" si existe

c('DROP TABLE IF EXISTS inventory')

In [32]:
# Insertar datos en la tabla "inventory"

inventory = pd.read_csv("C:/Users/luiso/IRONHACK/Blockbuster_Project_2/data/inventory_clean.csv")

for index, row in inventory.iterrows():
    inventory_id = row['inventory_id']
    film_id = row['film_id']
    store_id = row['store_id']
    last_update = row['last_update']
   

    # Consulta SQL para insertar un actor en la tabla "actor"
    consulta = f"INSERT INTO inventory (inventory_id, film_id, store_id, last_update) VALUES ({inventory_id}, {film_id}, {store_id}, '{last_update}')"

    # Ejecutar la consulta
    c(consulta)

# Hacer commit para guardar los cambios en la base de datos

conexion1.commit()

In [33]:
# Crear la tabla "rental" si no existe y crear foreign key para la tabla "inventory" y "customer"

c("CREATE TABLE IF NOT EXISTS rental (rental_id INT AUTO_INCREMENT PRIMARY KEY, rental_date TIMESTAMP DEFAULT CURRENT_TIMESTAMP, inventory_id INT, customer_id INT, return_date TIMESTAMP DEFAULT CURRENT_TIMESTAMP, staff_id INT, last_update TIMESTAMP DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP, FOREIGN KEY (inventory_id) REFERENCES inventory(inventory_id), FOREIGN KEY (customer_id) REFERENCES customer(customer_id))")

In [11]:
# Eliminar la tabla "rental" si existe

c('DROP TABLE IF EXISTS rental')

In [34]:
# Insertar datos en la tabla "rental"

rental = pd.read_csv("C:/Users/luiso/IRONHACK/Blockbuster_Project_2/data/rental_clean.csv")

for index, row in rental.iterrows():
    rental_id = row['rental_id']
    rental_date = row['rental_date']
    inventory_id = row['inventory_id']
    customer_id = row['customer_id']
    return_date = row['return_date']
    staff_id = row['staff_id']
    last_update = row['last_update']
   

    # Consulta SQL para insertar un actor en la tabla "actor"
    consulta = f"INSERT INTO rental (rental_id, rental_date, inventory_id, customer_id, return_date, staff_id, last_update) VALUES ({rental_id}, '{rental_date}', {inventory_id}, {customer_id}, '{return_date}', {staff_id}, '{last_update}')"

    # Ejecutar la consulta
    c(consulta)

# Hacer commit para guardar los cambios en la base de datos

conexion1.commit()